.contact-section{
    display: flex;
}
.contact-info-sec{
    /* border: 1px solid black; */
    width: 70%;
    height: fit-content;
    margin-top: 5%;
    padding-left: 10px;
}
.contact-info-sec h3{
    padding-top: 20px;

}
@media screen and (max-width:450px){
    .contact-section{
        flex-direction: column;
    }
    .contact-info-sec{
        width: 90%;
        margin: 5%;
        text-align: center;
    }
}